.site__header {}

.post-edit-link {
	background-color: white;
	bottom: 0;
	margin: 0;
	padding: $d_default_gutter;
	position: fixed;
	right: 0;
}

ul.menu--primary {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
