.site__header {
	box-shadow: $s_box_shadow;
	padding-top: $d_default_gutter;

	.wrapper {
		padding-bottom: $d_default_gutter;
	}
}

#logo {
	display: block;
	margin: 0 auto $d_default_gutter;
}

.post-edit-link {
	background-color: $c_white;
	bottom: 0;
	margin: 0;
	padding: $d_default_gutter;
	position: fixed;
	right: 0;
}

ul.menu--primary {
	display: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

select.menu--primary--mobile {
	display: block;
	margin: 0 auto;
}

@include bp($b_laptop) {
	.site__header {
		.wrapper {
			padding-bottom: 0;
		}
	}

	select.menu--primary--mobile {
		display: none;
	}

	ul.menu--primary {
		@include wrapper;
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	.menu__link {
		text-decoration: none;
	}

	.menu__item {
		padding: $d_default_gutter;
	}

	.menu__list--level-0 > .menu__item:first-of-type {
		padding-left: 0;
	}

	.menu__item--has-children {
		position: relative;

		&:hover .menu__list--submenu {
			opacity: 1;
			pointer-events: all;
		}
	}

	.menu__list--submenu {
		background-color: $c_white;
		box-shadow: $s_box_shadow;
		left: 0;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 100%;
		transition: $t_default_duration opacity $t_default_easing;
	}
}
