// Breakpoints

// Prefix breakpoints with $b_
// this makes them easier to find
// with autocomplete
//
// You can use the 'bp' mixin to
// easily use these breakpoints
// in your sass code.

// examples:

// mobile first queries
$b_mobile:  '(min-width: #{$d_media_mobile})';

$b_tablet:  '(min-width: #{$d_media_tablet})';

$b_laptop:  '(min-width: #{$d_media_laptop})';

$b_desktop: '(min-width: #{$d_media_desktop})';
