/* =========================================
		Color Index
   ========================================= */
/**
 * Prefix colors with $c_ this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

// examples:

$c_black: #111;

$c_white: #fff;

$c_gray: #d3d3d3;

$c_yellow: #ffd939;

$c_red: #f00;

$c_green: #0f0;

$c_blue_dark: #0d222d;

$c_blue_light: #02a2de;

$c_blue: $c_blue_light;

$c_primary: $c_blue;

$c_secondary: $c_blue_dark;

$c_accent: $c_yellow;


/* =========================================
		Colors Applied
   ========================================= */
/**
 * Prefix applied colors with $ca_
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

// examples:

// state
$ca_highlight: blueviolet;

$ca_error: $c_red;

$ca_success: $c_green;


// elements
$ca_bg_body: transparent;


// typography
$ca_txt_display: $c_black;

$ca_txt_body: $c_black;

$ca_txt_highlight: $c_blue_light;
