button,
[type=button],
[type=submit],
[type=reset],
.button {
	appearance: none;
	border: 0;
	border-radius: .25rem;
	cursor: pointer;
	font-family: $t_font_display;
	font-size: font-size(0, true);
	line-height: font-size(1, true);
	padding: .25rem .5rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	&[disabled] {
		cursor: default;
		opacity: .5;
	}

}

.button--hollow {
	background: transparent;
	border: 1px solid currentColor;
}

.button--white {
	color: $c_white;
}

select {
	border: 0;
	border-radius: .25rem;
	font-family: $t_font_display;
	font-size: font-size(0, true);
	line-height: font-size(1, true);
	padding: .25rem .5rem;
}


[type=text],
[type=email],
[type=search],
textarea {
	background: transparent;
	border: 1px solid currentColor;
	border-radius: .25rem;
	font-size: font-size(0, true);
	line-height: font-size(1, true);
	max-width: 100%;
	padding: .25rem .5rem;

	&:focus {
		outline: 1px solid $c_accent;
		outline-offset: 1px;
	}
}

.wpcf7-form-control-wrap {
	display: block;

	input,
	textarea {
		width: 100%;
	}
}

::-webkit-input-placeholder {
	color: currentColor;
	opacity: .5;
}

:-moz-placeholder { // Firefox 18-
	color: currentColor;
	opacity: .5;
}

::-moz-placeholder { // Firefox 19+
	color: currentColor;
	opacity: .5;
}

:-ms-input-placeholder {
	color: currentColor;
	opacity: .5;
}
