// examples:
$edit-mode: false;
$theme: OpenSans;


// font family
$t_font_display: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_font_body: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_size_base: 1rem;

$t_ratio: 1.25;

@function font-size($scale) {
	$scale: round($scale);
	$ratio: $t_ratio;
	$font-size: $t_size_base;
	@if($scale > 0) {
		@for $i from 1 through $scale {
			$font-size: $font-size * $ratio;
		}
	} @else if ($scale == 0) {
		$font-size: $font-size;
	} @else {
		$ratio: 1 / $ratio;
		$scale: abs($scale);
		@for $i from 1 through $scale {
			$font-size: $font-size * $ratio;
		}
	}
	@return $font-size;
}
