/* =========================================
		Typography
   ========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

// examples:
$edit-mode: false;
$theme: OpenSans;

@import '../../../node_modules/gutenberg-web-type/src/style/gutenberg.scss';


// font family
$t_font_display: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

$t_font_body: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;

// font size
// $t_size_base: 16px;
